/* https://coolors.co/6699cc-fff275-ff8c42-ff3c38-a23e48 */

$color-blue-darker: #1D5F8C;
$color-blue-dark: #206A9C;
$color-blue: #2374AB;
$color-blue-light: #4B8DBA;
$color-blue-lighter: #b5d1e3;

$color-yellow-dark: #D1C760;
$color-yellow: #FFF275;
$color-yellow-light: #FFF48E;

$color-orange-dark: #D17337;
$color-orange: #FF8C42;
$color-orange-light: #FFA064;

$color-turquoise-dark: #40A79B;
$color-turquoise: #4DCCBD;
$color-turquoise-light: #A0FFF2;

$color-red-dark: #D1322E;
$color-red: #FF3C38;
$color-red-light: #FF5F5C;

$color-gray-dark: #323233;
$color-gray: #58585a;
$color-gray-light: #d4d5d9;

$color-black: #000;
$color-white: #fff;

//$color-sticky-header: #6c9aa8;
$color-sticky-header: #020408;
//$color-sticky-header: $color-blue;
