$padding: 32;
$padding-three-quarter: $padding * 0.75;
$padding-half: $padding / 2;
$padding-quarter: $padding /4;

$header-height: 90;
$sticky-header-height: $header-height * 0.5;
$intro-height: 450;