.u-upper {
	text-transform: uppercase;
}

.u-bold {
	font-weight: bold;
}

.u-italic {
	font-style: italic;
}

.u-center {
	text-align: center;
}

.u-text-link {
	color: $color-blue-light;

	&:hover {
		cursor: pointer;
		color: $color-blue-dark;
	}

	&:active {
		color: $color-blue-darker;
	}
}