$section-logo-icon-size: 130;

.section {
    padding: #{$padding}px;

    &--stretch {
        padding: #{$padding}px 0;
    }
    
    &--linkable {
        padding-top: #{$padding* 2}px;
    }
}

.section-header {
    text-align: center;
}

.section-header-title {
    font-size: #{$font-lg}px;
    letter-spacing: 2px;    
    text-transform: uppercase;
}

.section-content {
    padding: 0 #{$padding}px;

    &--flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

// .section-list {
//     margin-top: #{$padding}px;
// }

// .section-list-item {
//     & + &  {
//         margin-top: #{$padding}px;
//     }
// }