.button {
    background-color: $color-white;
    border-color: $color-turquoise-dark;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    color: $color-gray-dark;
    cursor: pointer;
    font-weight: 500;    
    padding: 12px 14px;
    width: 200px;  

    &:hover:not(&--selected) {
        background-color: lighten($color-turquoise-light, 15);
        transition: background-color 0.5s ease-out;        
    }

    &:active,
    &--selected {
        background-color: lighten($color-turquoise, 20);
    }

    &:focus {
        outline: 0;
    }
}