$cube-size: 300px;
$cube-perspective: 450px;

.cube-container {
    text-align: center;
}

.cube-wrapper {
    margin: 100px auto;
    perspective: $cube-perspective;    
    height: $cube-size;
    width: $cube-size;
}

.cube {
    position: relative;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    transition: transform 0.75s ease-in-out;
}

.cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0.9;
    background-size: 100%;
    border: 1px solid $color-white;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        font-size: #{$font-xxlg}px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2;
    }


    &--front {
        background: linear-gradient(to right, $color-turquoise, $color-blue-light);
        transform: translate3d(0, 0, $cube-size/2);
    }

    &--back {
        background: linear-gradient(to right, $color-turquoise, $color-blue-light);
        transform: rotateY(180deg) translate3d(0, 0, $cube-size/2);
    }

    &--left {
        background: linear-gradient(to right, $color-blue-light, $color-turquoise);
        transform: rotateY(-90deg) translate3d(0, 0, $cube-size/2);
    }

    &--right {
        background: linear-gradient(to right, $color-blue-light, $color-turquoise);
        transform: rotateY(90deg) translate3d(0, 0, $cube-size/2);
    }

    &--top {
        background: linear-gradient(to right, $color-turquoise, $color-blue-light);
        transform: rotateX(90deg) translate3d(0, 0, $cube-size/2);
    }

    &--bottom {
        background: linear-gradient(to right, $color-blue-light, $color-turquoise);
        transform: rotateX(-90deg) translate3d(0, 0, $cube-size/2);
    }
}

#radio-back:checked ~ .cube-wrapper .cube {
    transform: rotateY(180deg);
}

#radio-left:checked ~ .cube-wrapper .cube {
    transform: rotateY(90deg);
}

#radio-right:checked ~ .cube-wrapper .cube {
    transform: rotateY(-90deg);
}

#radio-top:checked ~ .cube-wrapper .cube {
    transform: rotateX(-90deg);
}

#radio-bottom:checked ~ .cube-wrapper .cube {
    transform: rotateX(90deg);
}