$header-height: 90;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: $color-gray-dark;
    height: #{$header-height}px;    
    padding: 0 #{$padding-half}px;
    transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
}

.header-title {
    color: $color-white;
    font-size: 28px;
    font-weight: 500;
    transition: font-size 0.3s ease-in-out;    

    .sticky-parent & {
        font-size: #{$font-xlg}px;        
    }
}

.header-nav {

}

.header-nav-item {
    color: $color-white;
    font-weight: 500;
    padding: 4px;
    text-decoration: none;     
    transition: color 0.15s ease-in-out;   

	&:hover {
        color: $color-turquoise-light;
	}

    & + & {
        margin-left: #{$padding-half}px;
    }
}