.toolchain {
}

.toolchain-content {
  @include until($desktop-sm) {
    display: flex;
    flex-direction: column;
  }
}

.toolchain-topics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: $cube-perspective;
  margin: #{$padding * 0.75}px 0;
  padding: #{$padding * 2}px 0;

  @include until($desktop-sm) {
    height: auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &:last-of-type {
        margin-bottom: 0;
    }
  }
}
