@import './node_modules/normalize.css/normalize';

html {
	box-sizing: border-box;
	color: $color-gray-dark;
    font-family: $base-font-family;
    font-size: #{$base-font-size}px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: $color-blue-dark;

	&:hover {
		cursor: pointer;
		color: $color-blue-light;
	}

	&:active {
		color: $color-blue-darker;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}